body {
    font-family: "Sofadi One", system-ui;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: white;
    color: blueviolet;
    padding: 4px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
    color: black;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 90%;
    

}